body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(./imagenes/fondocard.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size:100%;
    
}

.container {
    text-align: center;
}

#message {
    font-size: 4em;
    background-image: linear-gradient(to top,#044cf3, #f12711, #f5af19,#f40e34,#f5af19,#06f5bd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 1s ease-out forwards;
 
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
       
    }
}
a{
    text-decoration: none;
    list-style: none;
    color:black;
}
#btn{
    display: none;
}
button{
   
    width: 300px;
    height: 10vh;
    background: rgb(97, 97, 205);
    border-radius: 60px;
    font-size: 20px;
    border:none;
    background: transparent;
}
button:hover{
    background: transparent;
    box-shadow: rgb(2, 2, 170) 4px 3px 4px 3px ,rgb(2, 2, 170) 4px 3px 4px 3px ,rgb(2, 2, 170) 4px 3px 4px 3px ;
 
}